<div class="container">
  <form novalidate>
    <div class="card">
      <div class="col-md-25" >
        <br>
        <div *ngFor="let pergunt of perguntas">
          <div class="card-header" class="text-center" style="border-top: 2px #696969 solid; margin-top: 0px; margin-bottom: 0px;">
            <h3>{{ pergunt.perguntas[1].pergunta }}</h3>
            <br>
          </div>
          <!------------------listando perguntas e botão de radio----------------------->
          <ul class="list-group list-group-flush">
            <div class="text-center">
              <div class="btn-group btn-group-toggle background-color: white;" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked value="1"> 1
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option2" autocomplete="off" value="2"> 2
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off" value="3"> 3
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option4" autocomplete="off" value="4"> 4
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option5" autocomplete="off" value="5"> 5
                </label>
              </div>
            </div>
          </ul>
          <ul class="list-group list-group-flush"></ul>
          <br>
        </div>
      </div>
    </div>
  </form>
</div>