<div class="container">
  <form novalidate>
    <div class="card">
      <div class="col-md-25">
        <br>
        <div *ngFor="let pergunta of perguntas">
          <div class="card-header" class="text-center">
            <h3>{{ pergunta.pergunta }}</h3>
            <br>
          </div>
          <ul class="list-group list-group-flush">
            <div class="text-center">
              <!---->
              <li ng-repeat="pergunta of perguntas">
                  <label>{{pergunta.radio[0].RDPergunta}}
                      <input type="radio" ng-model="pergunta.radio[0].RDPergunta" name="name" 
                      value="{{pergunta.radio[0].RDPergunta}}"/>
                  </label>
                  <label>{{pergunta.radio.RDPergunta}}
                      <input type="radio" ng-model="pergunta.radio[0].RDPergunta" name="name" 
                      value="{{pergunta.radio[0].RDPergunta}}"/>
                  </label>
                  <label>{{pergunta.radio.RDPergunta}}
                      <input type="radio" ng-model="pergunta.radio[0].RDPergunta" name="name" 
                      value="{{pergunta.radio[0].RDPergunta}}"/>
                  </label>
                  <label>{{pergunta.radio[0].RDPergunta}}
                      <input type="radio" ng-model="pergunta.radio[0].RDPergunta" name="name" 
                      value="{{pergunta.radio[0].RDPergunta}}"/>
                  </label>
                  <label>{{pergunta.radio[0].RDPergunta}}
                      <input type="radio" ng-model="pergunta.radio[0].RDPergunta" name="name" 
                      value="{{pergunta.radio[0].RDPergunta}}"/>
                  </label>
                  <label>{{pergunta.radio[0].RDPergunta}}
                      <input type="radio" ng-model="pergunta.radio[0].RDPergunta" name="name" 
                      value="{{pergunta.radio[0].RDPergunta}}"/>
                  </label>
              </li>
              <!--
              <li class="list-group-item">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" [id]="pergunta.radio[0].RDPergunta" [name]="pergunta.radio" class="custom-control-input">
                  <label class="custom-control-label" for="pergunta.radio[0].RDPergunta">muito ruim</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" [id]="pergunta.radio[0].RDPergunta" [name]="pergunta.radio" class="custom-control-input">
                  <label class="custom-control-label" for="pergunta.radio[0].RDPergunta">ruim</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" [id]="pergunta.radio[0].RDPergunta" [name]="pergunta.radio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline3">medio</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" [id]="customRadioInline4" [name]="pergunta.radio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline4">bom</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline5" [name]="pergunta.radio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline5">muito bom</label>
                </div>
              </li>
              -->
            </div>
          </ul>
          <ul class="list-group list-group-flush"></ul>
          <br>
        </div>
      </div>
    </div>
  </form>
</div>